@import './variables'

.layout-root

	header.navbar
		position: fixed
		top: 0
		left: 0
		width: 100%
		height: $navbar-height
		background-color: $clr-white
		border-bottom: border-separator()
		display: flex
		align-items: center
		z-index: 100
		a.home
			color: $clr-primary
			text-decoration: none
			font-size: 28px
			font-weight: 200
			display: flex
			align-items: center
			img
				height: 48px
				margin: 0 8px 8px 8px

	main.content
		margin-top: $navbar-height + 8px
		min-height: "calc(100vh - %s - 8px)" % $navbar-height
		display: flex
		flex-direction: column
