@import './colors'
@import './mixins'

$clr-primary = $clr-purple
$clr-accent = $clr-purple-a400
$clr-success = $clr-green
$clr-warning = $clr-orange
$clr-danger = $clr-red

$font-stack = 'Roboto', "Helvetica Neue", HelveticaNeue, Helvetica, Arial, sans-serif
$font-size = 14

$font-color = $clr-primary-text-light
$default-color = $clr-primary
$highlight-color = $clr-primary

$navbar-height = 52px
